<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/users/{id}(id=${user.getId()})}" th:object="${user}">
    <label for="name"> Name</label>
    <input type="text" th:field="*{name}" id="name"/>

    <br/>

    <label for="password"> Password</label>
    <input type="text" th:field="*{password}" id="password"/>

    <input type="submit" value="Update User"/>


</form>


<header>
    <nav>
        <ul>
            <li><a th:href="@{/logout}">Logout</a></li>
        </ul>
    </nav>
</header>
</body>
</html>